body{
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
li{
    list-style-type: none;
}
.titleQuiz{
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.card .start{
    display: flex;
    justify-content: center;
}
.girisDiss{
    opacity: 0;
    pointer-events: none;
}
.quiz_box, .girisCard{
    background-color: rgb(88, 88, 88);
    color: rgb(255, 255, 255);
}
.quiz_box.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%)scale(1);
}
.quiz_box{
    display: flex;
    width: 600px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%)scale(0.7);
    transition: all 0.3s ease;
    position: absolute;
    left: 50%;
    top: 50%;
}
.quiz_box .card-header .title{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.card-body .question_text{
    font-size: 17px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.option_list{
    padding: 1.5rem 0;
}
.option_list .option{
    border: 1px solid rgba(146, 146, 146, 0.425);
    padding: 8px 10px;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
}
.option_list .option:hover{
    background-color: rgba(0, 0, 0, 0.178);
    transition: background-color 0.2s ease-in-out;
}
.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.correct{
    background-color: rgb(0, 255, 0) !important;
    color: rgb(0, 138, 0);
}
.incorrect{
    background-color: rgb(255, 3, 3) !important;
    color: rgb(126, 0, 0);
}
.quiz_box .option_list .option.disabled{
    pointer-events: none;
}
.dissplayed{
    opacity: 0;
    pointer-events: none;
}
.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn_skip.dissplaySkipBtn{
    display: none;
}
.wrongSkip{
    color: #fff;
    background-color: rgb(27, 27, 27);
    padding: 30px 50px;
    border-radius: 1rem;
    font-size: 20px;
    margin-top: 1rem;
    transition: all 0.9s ease;
    position: absolute;
    bottom: -300px;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.dissplayedWrong{
    display: none;
}
.passRight{
    font-style: italic;
}
.contResult .card-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contResult .card-body{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    text-align: center;
}
.contResult .card-head h1{
    font-weight: bold;
    font-size: 3rem;
}
.statu_quiz{
    font-size: 4rem;
}
.contResult ul{
    display: flex;
    row-gap: 1rem;
}
.contRresult ul li{
    border: 1px solid black;
    border-radius: 1rem;
    padding: 10px;
    font-size: 1.5rem;
}
.success_result{
    background-color: #abf5a4;
}
.failed_result{
    background-color: rgb(255, 138, 138);
}

.deleteResult{
    display: none;
}
